<form role="form" id="searchForm">
  <h3 class='blue-highlight'>Hey Sydneysiders!</h3>
  <h2 id="searchFormLabel">Noticed any good/bad cycling infrastructure?</h2>
  <h3>Tell us about it!</h3>

  <p>The Faculty of Civil Engineering, University of Sydney is conducting a study on how Sydney cyclists perceive safety whilst riding.</p>

  <p>We would like to know how the quality of infrastructure impacts on this perception whether it be footpaths, shared paths, streets or roadways.</p>

  <p>Add your report to our registry to show that any locations you think that are examples of good infrastructure that should be replicated or infrastructure that could be improved on.</p>

  <p>Your reports will help our research on the various factors that alter perceived safety and show that Sydneysiders support better infrastructure.</p>

  <div class="form-group" id="addressField">
    <label for="address">Enter the street address of the location:</label>
    <input name="address" type="text" class="form-control" id="inputAddress" placeholder="Address" />
  </div>
  <div>
    <input type="submit" value="Pin Location" class="btn btn-primary btn-block" data-bind='click:search'>
  </div>
  <p id="status"></p>

  <hr>
</form>
